# USAGE (beta-release.yml)
# jobs:
#   call_npm_beta_release:
#     permissions:
#       contents: read
#       id-token: write
#     uses: szikszail/workflows/.github/workflows/npm-beta-release.yml@main
#     secrets:
#       npm_token: ${{ secrets.npm_token }}
name: Publishing beta version of the package to NPM
on:
  workflow_call:
    inputs:
      dist_folder:
        required: false
        default: "./dist"
        type: string
    secrets:
      npm_token:
        required: true
jobs:
  npm_beta_test:
    name: Testing
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setting up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          registry-url: https://registry.npmjs.org/
      - name: Install
        run: npm ci
      - name: Test
        run: npm test

  npm_beta_release:
    name: Releasing
    needs: npm_beta_test
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setting up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          registry-url: https://registry.npmjs.org/
      - name: Install
        run: npm ci
      - name: Build
        run: npm run build --if-present
      - name: Release
        run: |
          cv=$(cat package.json | grep version | cut -d '"' -f 4)
          echo "$cv-beta.$GITHUB_RUN_ID"
          npm --no-git-tag-version version "$cv-beta.$GITHUB_RUN_ID"
          npm publish --tag beta --provenance --access public .
        working-directory: ${{ inputs.dist_folder }}
